@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-class {
    background-image: url("../images/fennec_2.jpg");
    background-size: 90px 50px;
    color: black;
    border: 1px solid blue;
    padding: 0.5em;
    text-align: center;
}
#my-id {
    font-family: 'Bungee', cursive;
    border: 0.5px dotted red;
    padding: 0.5em;
    color: purple;
    text-align: left;
    background-color: yellow;
}
#my-id_2 {
    border: 10px solid green;
    padding: 5px 5px 5px 5px;
    margin: 5px 50px 5px 50px;
    color: green;
    background-color: lightgrey;
    text-align: center
}
